# Reference: https://git-scm.com/docs/gitignore

*.user
.flare
.vs
.vscode
/src/*/bin
/src/*/dep
/src/*/obj
/src/*/TestResults
/src/lib/Syntax/SyntaxTree.cs
/src/tests/project/*/bin
/src/tests/project/*/dep
