name: CI
on:
    push:
    pull_request:
        types:
            - edited
            - opened
            - reopened
            - synchronize
defaults:
    run:
        shell: bash
env:
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    DOTNET_CLI_TELEMETRY_OPTOUT: true
jobs:
    ci:
        strategy:
            matrix:
                os:
                    - macos-latest
                    - ubuntu-latest
                    - macos-latest
                configuration:
                    - Debug
                    - Release
        runs-on: ${{ matrix.os }}
        steps:
            - uses: xt0rted/markdownlint-problem-matcher@v1
            - name: Clone repository
              uses: actions/checkout@v2.3.2
            - name: Set up .NET Core
              uses: actions/setup-dotnet@v1.6.0
              with:
                  dotnet-version: 5.0.100-preview.8.20417.9
            - name: Install dependencies
              run: |
                  npm install markdownlint-cli@0.23.2 -g
                  dotnet tool restore
                  dotnet restore
            - name: Lint Markdown files
              run: |
                  markdownlint *.md
            - name: Build project
              run: |
                  dotnet t4 src/lib/Syntax/SyntaxTree.tt
                  dotnet build -c ${{ matrix.configuration }} --no-restore
            - name: Pack project
              run: |
                  dotnet pack -c ${{ matrix.configuration }} --no-build
            - name: Publish project
              run: |
                  rids="linux-arm linux-arm64 linux-x64 osx-x64 win-arm win-arm64 win-x64 win-x86"
                  for rid in $rids; do
                      dotnet publish -c ${{ matrix.configuration }} -r $rid -p:PublishSingleFile=true --no-build
                  done
            - name: Test project
              run: |
                  dotnet test -c ${{ matrix.configuration }} --no-build
